*~
\#*#
/build
/.bundle
.coverage
/data.db
/dist
.DS_Store
/dump.rdb
*.egg-info
/.env
/htdocs/e
/.idea
/log
/media
/node_modules
*.pyc
/static
.*.sw*
/tmp
.tox
/vendor
/venv
/.vscode
yarn-error.log
*.map
build
