.milkdown .ProseMirror {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px 6px;
}

/*
.milkdown-menu ul[role="menubar"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
.milkdown-menu button[role="menuitem"] {
  appearance: none;
  background: none;
  border: 1px solid;
  display: inline-grid;
  place-items: center;
  padding: 0;
}

.milkdown-menu button[role="menuitem"].active {
  background: #abc;
}
*/
