:root {
  --prose-editor-font-size: 14px;
  --prose-menubar-font-size: 14px;
}

.ProseMirror {
  padding: 0 6px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.prose-editor *,
.prose-editor *::before,
.prose-editor *::after {
  box-sizing: inherit;
}

.prose-editor {
  font-size: var(--prose-editor-font-size);
  box-sizing: border-box;
  position: relative;

  flex-grow: 1;
}

.prose-editor + textarea {
  display: none;
}

.prose-menubar {
  font-size: var(--prose-menubar-font-size);
  background: white;
  display: inline-flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 2px;
}

.prose-menubar__group {
  display: flex;
  gap: 2px;
}

.prose-menubar__button {
  cursor: pointer;
  padding: 0 0.25em;
  min-width: 2em;
  transition: all 0.25s;
  border: 1px solid;
  border-radius: 0.25em;
  text-align: center;
}

.prose-menubar__button:hover {
  filter: brightness(110%);
}

.prose-menubar__button.active {
  background-color: var(--primary);
}

.prose-menubar__button.disabled {
  background-color: #acc0cc;
  filter: brightness(100%);
  cursor: not-allowed;
  opacity: 0.3;
}

/* history */
.prose-menubar__button--history-undo,
.prose-menubar__button--history-redo {
  background-image: url(./images/history-arrow.svg);
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position: center;
}

.prose-menubar__button--history-redo {
  transform: scaleX(-1);
}
