.prose-editor *,
.prose-editor *::before,
.prose-editor *::after {
  box-sizing: inherit;
}

.prose-editor {
  box-sizing: border-box;
  position: relative;
  flex-grow: 1;
}

.prose-editor,
.prose-editor-dialog {
  /* --body-bg, --body-fg, --border-color and --primary are used in the Django admin CSS */
  --_b: var(--prose-editor-background, var(--body-bg, #fff));
  --_f: var(--prose-editor-foreground, var(--body-fg, #333));
  --_r: var(--prose-editor-border-color, var(--border-color, #ccc));
  --_a: var(--prose-editor-active-color, var(--primary, #79aec8));
  --_d: var(--prose-editor-disabled-color, var(--border-color, #ccc));
  --_t: var(--prose-editor-typographic, #ccc);
}

[data-django-prose-editor] {
  opacity: 0;
}

.prose-editor > textarea {
  display: none !important;
}

.prose-editor .ProseMirror {
  padding: 0 6px;
  background: var(--_b);
  color: var(--_f);
  border: 1px solid var(--_r);
  border-radius: 4px;
}

/* content editor support */
label:empty:has(+ .prose-editor) {
  display: none;
}

.prose-editor-nbsp {
  background: var(--_t);
  box-shadow:
    0 2px 0 0 var(--_t),
    0 -2px 0 0 var(--_t);
}

.prose-editor-shy {
  background: var(--_t);
  box-shadow:
    0 2px 0 1px var(--_t),
    0 -2px 0 1px var(--_t);
}

/* Figure extension styling */
.ProseMirror .figure {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  max-width: 100%;
  position: relative;
}

.ProseMirror .figure figcaption.figure-caption {
  padding: 0.5rem 0;
  color: #555;
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.5rem;
}

.ProseMirror .figure img {
  max-width: 100%;
  height: auto;
}

/* Autogrowing textareas */
.prose-editor-grow-wrap {
  display: grid;
}
.prose-editor-grow-wrap::after {
  content: attr(data-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.prose-editor-grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}
.prose-editor-grow-wrap > textarea,
.prose-editor-grow-wrap::after {
  grid-area: 1 / 1 / 2 / 2;
}

/* Placeholder extension support */
.prose-editor p.is-editor-empty:first-child::before {
  opacity: 0.5;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
