.prose-menubar:not(:empty) {
  font-size: 14px;
  display: inline-flex;
  align-items: stretch;
  gap: 8px;
  flex-wrap: wrap;
  background: var(--_b);
  padding: 4px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--_r);
  box-sizing: border-box;
  z-index: 10;
  position: sticky;
  top: 0;
}

.prose-editor.disabled .prose-menubar {
  display: none;
}

.prose-menubar__group {
  display: flex;
}

.prose-menubar__button {
  cursor: pointer;
  height: 28px;
  padding: 0 0.25em;
  min-width: 2em;
  transition: all 0.25s;
  background: var(--_b);
  color: var(--_f);
  border: 1px solid var(--_r);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.prose-menubar__button.hidden {
  display: none !important;
}

.prose-menubar__button--heading::after {
  content: attr(data-level);
  position: absolute;
  font-family: sans-serif;
  right: 3px;
  bottom: 5px;
  font-size: 14px;
}

.prose-menubar__button:not(.hidden) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* Cancel rounded borders on the left side for second to last button in group */
.prose-menubar__button:not(.hidden) ~ .prose-menubar__button:not(.hidden) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Find last button in group (the button which doesn't have a following button) */
.prose-menubar__button:not(.hidden):not(
    :has(~ .prose-menubar__button:not(.hidden))
  ) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.prose-menubar__button + .prose-menubar__button {
  border-left: none;
}

.prose-menubar__button.material-icons {
  padding: 0 0.125em;
  min-width: auto;
}

.prose-menubar__button:hover {
  filter: brightness(110%);
}

.prose-menubar__button.active {
  background-color: var(--_a);
}

.prose-menubar__button.disabled:not(.active) {
  background: var(--_d);
  filter: brightness(100%);
  cursor: not-allowed;
  opacity: 0.3;
}

/* SVG button styling */
.prose-menubar__button svg {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.prose-menubar__button svg * {
  color: inherit;
}

.prose-menubar__dropdown {
  display: block;
  position: relative;
}

.prose-menubar__selected {
  cursor: pointer;
  display: block;
  height: 28px;
  outline: 1px solid var(--_r);
  border-radius: 4px;
  padding-right: 1rem !important;
  position: relative;

  &::after {
    content: "â·";
    position: absolute;
    right: 4px;
    top: 6px;
  }

  :first-child {
    border: none;
  }

  > * {
    pointer-events: none;
  }
}

.prose-menubar__picker:popover-open {
  all: initial;
  position: absolute;
}

.prose-menubar__picker .ProseMirror {
  display: flex !important;
  flex-direction: column !important;
  padding: 0 !important;
}

.prose-menubar__picker .ProseMirror > * {
  cursor: pointer;
  padding: 4px 8px !important;
  margin: 0 !important;
  line-height: 1.2 !important;
  flex: 0 0 2rem !important;
  display: flex !important;
  align-items: center !important;

  &:hover {
    background: var(--_a) !important;
  }
}
